.titleheader {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #9FAAE5;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
}

footer .footer-link {
    padding-left: 10px;
    padding-right: 10px;
}

.shoplink {
    text-decoration: none;
    color: #9FAAE5;
}

.bullet-list {
    display: table;
}

.gallery-image {
    max-width: 20px;
    max-height: 20px;
}
/* 
.gallery-item {
    display: block;
    justify-content: center;
    margin: 5%;
}

.gallery-item .gallery-title{
    /* position: relative; */
    /* text-align: center;
    margin: 5px;
    float: right;
}

.gallery-item .gallery-description {
    position: relative;
    text-align: center;
    margin: 5px;
    float: right;
}

.gallery-item .gallery-image {
    float: left;
}  */

html {
    scroll-behavior: smooth;
}

.gallery-link {
    display: block;
    width: 200px;
    height: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid black;
    border-radius: 20px;
    font-family: 'Abril Fatface', cursive;
    /* background-color: white; */
    background-image: url('/images/background.jpg');
    cursor: pointer;
    font: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0.5));
}

.button-link {
    text-decoration: none;
}