.titleheader {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #9FAAE5;
}

p {
    font-family: 'Tulpen One', cursive;
    font-size: 2em;
    text-align: center;
    color: #9FAAE5;
}